.wrap{
    width: 1200px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    padding: 10px;  
    box-sizing: border-box; 
    margin: auto;
}

.item{
    width: 300px;
    margin: 40px;
    height: 250px;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.item .pic{
}
.item .text{
    display: block;
    margin: auto;
    background-color: #000a;
    color: white;
    transform: scale(1);
}

.text:hover{
    position: absolute;
    background-color: #000A;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    transform: translateY(50px);
}